<!DOCTYPE html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li {% if messages.tags %} class="{{ message.tag }}" {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST">
        <!-- Cross-Site Request Forgery and Custom Form -->
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</body>